body{
    background: linear-gradient(111.34deg, #313339 0%, #101010 100%);
    background: linear-gradient(111.34deg, #EA7F7F 0%, #C83F3F 100%);
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#sidebalk{
    width: 220px;
    height: 100vh;
    background: radial-gradient(87.96% 87.96% at 14.62% 12.04%, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 0.45) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    border-radius: 21px;
    position: relative;
    left: -20px;
    z-index: 100;

}

#sidebalk h1{
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 25px;
    background-color: white;
    color: #E57676;
    width: 80%;
    padding: 5px;
    border-radius: 20px;
}


#sidebalk .title{
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    width: 100%;
}

#sidebalk .title p{
    color: white;
    text-decoration: none;
    margin: 0;
    position: relative;
    top: -60px;
    left: -10px;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#sidebalk .title svg{
    position: relative;
    top: 50%;
    fill: white;
    /* transform: translate(-50%, -50%); */
}

#allusers{
    width: 300px;
    height: 250px;
    position: absolute;
    left: 300px;
    top: 50px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: -10px -10px 10px 5px rgba(235, 235, 235, 0.1), 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    padding: 10px;
}

#bestuser{
    width: 300px;
    height: 250px;
    position: absolute;
    left: 300px;
    top: 400px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: -10px -10px 10px 5px rgba(235, 235, 235, 0.1), 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    padding: 10px;
}

#users{
    width: 700px;
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    position: absolute;
    left: 700px;
    top: 50px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: -10px -10px 10px 5px rgba(235, 235, 235, 0.1), 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}

#box1{
    width: 200px;
    height: 300px;
    background: radial-gradient(87.96% 87.96% at 14.62% 12.04%, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 0.45) 100%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    border-radius: 21px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
    color: black;
}


#box1 #whitebackground{
    background: white;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    border-radius:  21px 21px 0 0;
}
#box1 h3{
    width: 100%;
    color: black;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 20%;
    transform: translate(0, -50%);
}


#box1 #info{
    position: relative;
    top: 30px;
}

#box1 h4{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 50px;
}


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 10px;
  }

