body{
    background: rgba(235, 235, 235, 1);
    font-family: 'Libre Franklin', sans-serif;
}

#box{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
}

#box h1{
    text-align: center;
    width: 100%;
    background-color: white;
    height: 10vh;
    border-radius: 40px 40px 0 0;
    margin-top: 0px;
    padding-top: 5vh;
}

#box .antwoord{
    margin-top: 50px;
    background-color: white;
    width: 40%;
    height: 70px;
    border-radius: 20px;
    float: left;
    margin-left: 6.7%;
    transition: linear 0.2s;
}

#box .antwoord:hover{
    background-color: #897EFF;
    transition: linear 0.2s;
    border-radius: 20px;
}



#box .antwoord button{
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#box a{
    text-decoration: none;
}



#box #bottom-button{
    width: 100%;
    height: 10vh;
    background: linear-gradient(90.76deg, #3B3A43 0%, #151515 100%);
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 40px 40px;
    color: white;
}

#box #bottom-button #previous{
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: white;
    font-size: 1.5em;
    padding: 2% 21%;
}

#box #bottom-button #next{
    position: absolute;
    left: 75%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: white;
    font-size: 1.5em;
    padding: 2% 21%;
}

#vl{
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
}