
body{
    
    overflow-x: hidden;
    overflow-y: hidden;
}



#box4{
    position: absolute;
    width: 400px;
    height: 80vh;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50px;
}

#box4 h2{
    position: relative;
    width: 310px;
    height: 70px;
    left: 50%;
    margin-left: -155px;

    
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #333B70;
}

#box4 p{
    position: relative;
    width: 288px;
    height: 33px;
    left: 30px;
    top: 20px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: left;
    
    color: #333B70;    
}

#box4 svg{
    position: relative;
    left: 30px;
    top: 5px;
}

#box4 input{
    width: 70%;
    height: 30px;
    position: relative;
    left: 40px;
    top: -5px;
    border: none;
    /* border-bottom: solid 1px rgba(0, 0, 0, 0.2); */
    outline:none;
    background: none;
}

#box4 hr{
    width: 90%;
    height: 1px;
    background-color: black;
    margin-top: 10px;
}

#box4 #loginknop{
    width: 280px;
    height: 60px;
    left: calc(50% - 165px);
    top: 50px;
    border-width: 3px;
    border: 1px solid #000000;
    box-sizing: border-box;
border-radius: 7px;
    font-size: 24px;
    line-height: 28px;
}


#box4 #loginknop:hover{
    transition: 0.1s linear;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25), inset -4px -4px 4px rgba(255, 255, 255, 0.25);
}

#box4 span{
    position: relative;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    top: 70px;
    left: 60px;
}

@media only screen and (max-width: 400px) {
  #box4{
      width: 100%;
      height: 100%;
      
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
    font-family: 'Open Sans', sans-serif;

}
::-moz-placeholder { /* Firefox 19+ */
  color: #333B70;
  font-family: '', sans-serif;

}
:-ms-input-placeholder { /* IE 10+ */
  color: #333B70;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333B70;
};
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #333B70;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #333B70;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #333B70;
  }













