html{
    height: 100%;
    min-height: 100%;
}

body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.titel{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 12vw;
    top: -50px;

}
.titel h4{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}
.titel p{
    color: grey;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

#sidebox{
    background: linear-gradient(180deg, #3B3A43 0%, #151515 100%);
    width: 100px;
    height: 100vh;
}

#sidebox h3{
    width: 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-size: 30px;
    margin: 0;
    position: relative;
    left: -40px;
    top: 10px;
    
}

#profile-picture{
    background-image: url("https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png");
    background-position: center;
    background-size: 60px 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 9vw;
    top: 5vh;
    border-radius: 50%;
}

#profile-picture svg{
    position: absolute;
    left: 80px;
    top: 10px;
}

#gemiddeld{
    width: 360px;
    height: 130px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left: 13vw;
    top: 190px;
}

#gemiddeld #gemiddeld-back{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    background-color: lightgrey;
    top: 3px;
    z-index: -1;
}

#gemiddeld h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: grey;
    font-weight: lighter;
}

#gemiddeld h1{
    margin-top: -5px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    text-align: center;

}

#afgerond{
    width: 360px;
    height: 130px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left: 45vw;
    top: 190px;
}

#afgerond #afgerond-back{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    background-color: lightgrey;
    top: 2px;
    z-index: -1;
}

#afgerond h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: grey;
    font-weight: lighter;
}

#afgerond h1{
    margin-top: -5px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    text-align: center;

}


#courses{
    width: 67vw;
    height: 50vh;
    background-color: white;
    position: absolute;
    left: 10vw;
    top: calc(250px + 16vh);
    border-radius: 27px;
    overflow-y: scroll;
}



#courses .course{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    margin-left: 34px;
    margin-top: 34px;
    float: left;
    filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.15));
}

#courses .course img{
    width: 100%;
    height: 80px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

#courses .course h3{
    margin-left: 10px;
}

#courses .course p{
    margin-left: 10px;
    font-size: 10px;
}

#courses .course #empty{
    width: 130px;
    height: 5px;
    background-color: #F0F0F0;
    border-radius: 25px;
    position: absolute;
    left: 10px;
    top: 272px;
}

/* #courses .course #empty #progress{
    width: 68%;
    height: 5px;
    background-color: #FF8888;
    border-radius: 25px;
} */

#courses .course span{
    position: absolute;
    top: 265px;
    left: 160px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
   

  

@media only screen and (max-width: 1111px) {
    
    #sidebox{
        width: 20px;
    }
    #afgerond{
        left: 10vw;
        top: 350px;
        visibility: hidden;
        
    }
    #gemiddeld{
        left: 35vw;
    }
    #courses{
        width: 850px;
        left: 10vw;
    }
    #chart{
        visibility: hidden;
    }

}


@media only screen and (max-width: 795px) {
   
    #afgerond{
        left: 10vw;
        top: 350px;
        visibility: hidden;
        
    }
    #gemiddeld{
        left: 25vw;
    }
    #courses{
        width: 650px;
        left: 10vw;
    }
    #chart{
        visibility: hidden;
    }
}

@media only screen and (max-width: 540px) {
    
    #afgerond{
        visibility: hidden;
        
    }
    #gemiddeld{
        left: 15vw;
    }
    #courses{
        width: 450px;
        left: 25vw;
    }

    #profile-picture{
        margin-right: 5px;
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
    #profile-picture svg{
        width: 20px;
        height: 30px;
        left: 50px;
        top: 10px;
    }
    /* https://lh3.googleusercontent.com/X2efEVHhn8nD_GrBVww5vDgVAOEXfdEjAH7EiEpdqTJsEC3Y262l6XCTcs7HmooIelR-WF6yRsdKxEnXVlP0PscgMrVvKVELqAomkb339qehJVhS7_at2UiUQtTFALC-BoMkiKgAUg=w2400 */
}
#chart {
    background: url(https://lh3.googleusercontent.com/X2efEVHhn8nD_GrBVww5vDgVAOEXfdEjAH7EiEpdqTJsEC3Y262l6XCTcs7HmooIelR-WF6yRsdKxEnXVlP0PscgMrVvKVELqAomkb339qehJVhS7_at2UiUQtTFALC-BoMkiKgAUg=w2400);
    width: 15vw;
    height: 45vh;
    position: absolute;
    top: calc(150px + 15vh);
    left: 78vw;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -100;
}

.sorts {
  color: #000;   
  transition: all .5s ease-in-out;
  position: absolute;  
  top: 180px;
  display: flex;  
  align-items: center;  
  font-size: 0.9em;
  
}
