<!DOCTYPE html><html>
    <head><link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="css/style3.css" rel="stylesheet" /><title>Document</title>
    </head>
    <body><div class="v3_107">
        <div class="v3_108"></div>
        <span class="v3_138">Hi Danielle!</span>
        <span class="v3_137">Mijn Cursussen</span>
        <span class="v3_139">Voltooide cursussen</span><div class="v3_124"></div>
        <span class="v3_125">Profiel</span><span class="v3_134">Main</span>
        <span class="v3_135">Help</span><div class="v3_225"></div><div class="v3_226"></div>
        <div class="v3_227"></div><span class="v3_228">Botox behandeling</span><div class="v3_229"></div>
        <div class="v3_230"></div><span class="v3_231">30%</span><div class="v3_232"></div><div class="v3_233"></div>
        <span class="v3_234">anale fissuur</span><div class="v3_235"></div><div class="v3_236"></div><span class="v3_237">0%
</span><div class="v3_238"></div>
<div class="v3_239"></div>
<span class="v3_240">Darmspoeling
</span><div class="v3_241"></div>
<div class="v3_242"></div>
<span class="v3_243">30%</span><div class="v3_244"></div>
<div class="v3_245"></div><span class="v3_246">RBL Behandeling</span>
<div class="v3_247"></div><div class="v3_248"></div><span class="v3_249">60%</span>
<div class="v3_250"></div><div class="v3_251"></div><span class="v3_252">TENS</span>
<div class="v3_253"></div><div class="v3_254"></div><div class="v3_255"></div>
<div class="v3_256"></div><span class="v3_257">Materiaal 
</span><div class="v3_258"></div>
<div class="v3_259"></div>
<span class="v3_260">30%</span>
<div class="v3_261"></div>
<div class="v3_262"></div>
<span class="v3_263">TRANS</span>
<div class="v3_264"></div>
<div class="v3_265"></div>
<span class="v3_266">30%</span>
<div class="name"></div>
<span class="v3_269">100%</span></div>

</body>

</html>